

<!--make a box for me-->
<div class="span6 offset3 boxy text-center">
	<!--headline 1, most important for SEO-->
	<h1 class="h1-custom">Hey I'm a webpage!</h1>

	<br/>

	<h2>This Rocks</h2> 

	<br/>
	<br/>

	<%= link_to 'Enter a New NYC', pics_path, :class => 'btn btn-primary btn-info' %>

</div>