<h1 class="h1-custom">


	New York! 

</h1>


<% @pics.each do |pic| %>
<div class="span4 boxy text-center">
	<h2>
		Place: <%= pic.emotion %>
	</h2>

	<br/>
	<body>
		Description: <%= pic.description %>
		<br/>
		<br/>
		Location: <%= pic.location %>
		<br/>
	</body>

	</div>
<% end %> 



