
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>NYC Adventure Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script type='text/javascript'>

    (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem( 'firstLoad' ) )
        {
          localStorage[ 'firstLoad' ] = true;
          window.location.reload();
        }  
        else
          localStorage.removeItem( 'firstLoad' );
      }
    })();
    </script>
    
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCPLbu8YjZRwomPf5PC6rIEwAuv57GfR5E&sensor=false"
        type="text/javascript"></script>

<script type="text/javascript">
    
    function initialize() {
      var map = new google.maps.Map(
        document.getElementById('map_canvas'), {
          center: new google.maps.LatLng(40.7618, -73.9506),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      $("section").each(function() {
          //take the lat and lng from the rails below, split it into an array using the | 
          var encoded_lat_lng = $(this).html();
          var array_version = encoded_lat_lng.split("|");
          var lat = array_version[0];
          var lng = array_version[1];
          var place = array_version[2];
          //var point = new GLatLng(lat, lng);
          console.log(place)
          var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                title: place
          });
      }); // Note the additional }); here to close the each loop above
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<div id="left">
  <div style="height:100%; width:100%;">
    <!--Map style on Webpage-->
    <div id="map_canvas" style="width: 500px; height: 1000px; margin: 10px; margin-top: 50px; width: 50%; position: fixed !important; top: 0;">
    </div>
  </div>

</div>

<div class="right-contain">
    <div id="right">
      <div>
        <% @pics.each do |pic| %>
        <div class="span4 boxy text-center">
          <h2>
            <%= pic.place %>
          </h2>
          <%= image_tag pic.image %>
          <%= pic.location %>
          <section style= "display:none">
            <%= pic.lat.to_s + "|" + pic.lng.to_s + "|" + pic.place %>
          </section>
        </div>
        <% end %> 
      </div>
    </div>
  </div>
</div> <!-- right contain -->
